@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap");

.home__title {
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
