.posts__home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .post {
    font-size: 2rem;
    border: 4px solid black;
    margin: 1rem;
    padding: 10px;
    width: 90vw;
    border-radius: 10px;

    .time {
      font-size: 1.3rem;
      border: 2px solid black;
      padding: 0.3rem;
      margin: 0.5rem;
      border-radius: 10px;
    }
  }
}

.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.post {
  font-size: 2rem;
  border: 4px solid black;
  margin: 2rem;
  padding: 10px;
  width: 90vw;
  border-radius: 10px;

  .time {
    font-size: 1.3rem;
    border: 2px solid black;
    padding: 0.3rem;
    margin: 0.5rem;
    border-radius: 10px;
  }
}

.link__container {
  text-align: center;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .link {
    cursor: pointer;
    font-size: 2rem;

    h1 {
      border: 2px solid black;
      width: 17vw;
    }

    h1:hover {
      background-color: white;
      color: black;
    }
  }
}
